<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animal Info</title>
  </head>
  <body>
    <h1>Info</h1>
    <h2>Type of animal: <%= animalInfo.animalType %></h2>
    <h2>Age: <%= animalInfo.age %></h2>
    <h2>Color: <%= animalInfo.color %></h2>
    <a href="/animals/<%= animalInfo._id %>/edit">Edit</a>
    <a href= "/">Home</a>
  </body>
</html>
