<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Animal</title>
  </head>
  <body>
    <form action = "/animals" method = 'post'>
      Type of animal: <input type = "text" name="animalType"><br>
      <br>Age: <input type = "text" name = "age"><br>
      <br>Color: <input type = "text" name = "color"><br>
      <br><input type = "submit" value = "Add animal">
    </form>
  </body>
</html>
